#root {
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #121212;
}

.active {
  text-decoration: underline;
}