/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Space Grotesk  */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/* Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}